{% extends "layout.html" %}

    {% set pageId = "page-home" %}

    {% block title %}
        <title>Ecoleta</title>
    {% endblock title %}
   
   
   {% block styles %}
        <link href="css/home.css" rel="stylesheet">
        <link href="css/model.css" rel="stylesheet">
    {% endblock styles %}
    {# <div id="page-home"> #}
    {% block content %}
        <div class="content">
            <header>
                <img src="/icones/logo.svg" alt="logomarca">
                <a href="/create-point">
                    <span></span>
                    Cadastre um ponto de coleta
                </a>
            </header>

            <main>
                <h1>Seu marketplace de coleta de resíduos</h1>
                <p>Ajudamos pessoas a encontrarem pontos de coleta de uma forma eficiente</p>
                

                <a href="#">
                    <span></span>
                    <strong>Pesquisar pontos de coleta</strong>
                </a>
            </main>
        </div>
    {% endblock content %}
        
    {% block model %}
        {%include "partials/model.html"%}
    {% endblock model %}

    {% block scripts %}
        <script src="/scripts/index.js"></script>
    {% endblock scripts %}